@import "../../../styles/variables";

.platforms {
  .platform {
    gap: 3.2rem;
    padding: 4rem 0;

    border-bottom: 1px solid var(--grey-border);
    .icon-container {
      justify-content: center;
      min-width: 16rem;
      min-height: 16rem;
      border-radius: 2.4rem;
      padding: 2.8rem;
    }
    &:last-child {
      border-bottom: none;
    }

    &-info {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.6rem;

      .small-light {
        color: var(--text-secondary);
      }

      .ant-tag {
        border-radius: 4px;
        padding: 0.8rem 0.8rem 0.6rem 0.8rem;
        border: 2px solid var(--text-neutral);
        color: var(--text-neutral);
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.2rem;
        text-transform: uppercase;
      }

      .ant-tag.success {
        border: none;
        color: $text-primary-dark;
        background-color: $green-box;
      }

      .platform-action {
        gap: 1.2rem;

        span {
          &:last-child {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .platforms {
    .platform {
      flex-direction: column;
      .icon-container {
        min-width: 31.1rem;
        min-height: 31.1rem;
      }
    }
  }
}
