@import "../../styles/variables";
.section-hero,
.section-fitness,
.section-fitness {
  gap: 2rem;
  margin-bottom: 4.6rem !important;
}
.section-left {
  flex: 1;
  .section-title {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6rem;
    color: var(--text-secondary);
    text-transform: uppercase;
    margin-bottom: 1.8rem;
  }

  .section-tagline {
    width: 65%;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--text-secondary);
    margin-top: 1.8rem;
  }

  .section-actions {
    margin-top: 2.4rem;
    display: flex;
    gap: 2rem;
  }
}
.section-right {
  flex: 1;
  img {
    width: 100%;
  }
}

.arrow-down {
  display: inline-block;
  cursor: pointer;
  padding: 1rem;
  border: 3px solid $grey-border;
  border-radius: 50%;
  font-size: 1.8rem;
  color: var(--text-secondary);
  text-align: center;
  span {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media screen and (max-width: 768px) {
  .section-hero,
  .section-fitness {
    flex-direction: column;
    gap: 2rem;
  }
  .section-fitness {
    flex-direction: column-reverse;
  }
  .section-right {
    img {
      width: 80%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 425px) {
  .section-tagline {
    width: 100%;
  }
  .section-actions {
    flex-direction: column;
  }
  .section-fitness .section-actions {
    align-items: flex-start;
  }

  .section-right {
    img {
      width: 100%;
    }
  }
}
