@import "../../styles/variables";

.section-book-class {
  .flex {
    gap: 2rem;
  }
}

.section-card {
  flex: 1;

  max-width: 54.4rem;
  min-height: 74.8rem;
  padding: 4.8rem;
  border-radius: 2rem;
  gap: 2.4rem;
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);

  background-color: var(--bg);

  &-tagline {
    margin: 2.4rem 0;
  }

  .fitness-class-types {
    flex-direction: column;

    .fitness-class {
      width: 100%;
      justify-content: flex-start;
      cursor: pointer;
      padding: 2rem;
      &.border {
        border: 2px solid var(--grey-border);
        border-radius: 12px;
      }
      .icon-container {
        margin: 1rem;
        min-width: 4rem;
        min-height: 4rem;
        padding: 2.5rem;
        border-radius: 50%;
        position: relative;
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &-content-container {
        flex-direction: column;
      }

      &-title {
        color: var(--text-primary);
      }

      &:hover {
        background-color: var(--bg-grey);
        border-radius: 12px;
      }
    }
  }

  .bottom-line {
    color: var(--text-secondary);
    margin: 2.4rem 0;
  }

  &-action {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;

    .arrow {
      font-size: 2rem;
      transform: translate(0, -20%);
    }
  }
}
