@import "../../styles/variables";
.section-how {
  flex-direction: column;
  justify-content: center;
  &-header {
    h2 {
      text-align: center;
      margin-bottom: 1rem;
    }

    p {
      text-align: center;
      color: var(--text-neutral);
    }
  }

  &-steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5%;
  }
}

@media screen and (max-width: 1024px) {
  .section-how {
    &-steps {
      column-gap: 1%;
    }
  }
}

@media screen and (max-width: 768px) {
  .section-how {
    &-steps {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3%;
    }
  }
}

@media screen and (max-width: 425px) {
  .section-how {
    &-steps {
      grid-template-columns: 1fr;
    }

    &-step {
      padding: 0 6.2rem;
    }
  }
}
