.container {
  width: 85%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.my-48 {
  margin-top: 4.8rem;
  margin-bottom: 9.6rem;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 88%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 425px) {
  .container {
    max-width: 65%;
  }
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 80%;
  }
}

@media screen and (min-width: 1640px) {
  .container {
    width: 70%;
  }
}
