.container {
  width: 85%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.my-section {
  margin-top: 12rem;
  margin-bottom: 9.6rem;
}
.py-96 {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.highlighted {
  background-color: var(--bg-grey);
  width: 100% !important;
}

.normal {
  @include commonStyles(600, 1.6rem, 2.4rem, var(--text-secondary));
}

.bold {
  @include commonStyles(700, 1.6rem, 1.6rem, var(--text-secondary));
}

.small-light {
  @include commonStyles(400, 1.4rem, 2.4rem, var(--text-neutral));
}
.small-bold {
  @include commonStyles(700, 1.2rem, 1.2rem, var(--text-secondary));
}

.green {
  color: $green-box;
}

.strong {
  color: var(--text-primary);
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 88%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 425px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 1640px) {
  .container {
    width: 70%;
  }
}
