$bg-light: rgba(252, 252, 253, 1);
$bg-dark: rgba(20, 20, 22, 1);
$text-grey: rgba(119, 126, 144, 1);
$text-dark: rgba(35, 38, 47, 1);

$grey-border: rgb(230, 232, 236);

$primary-color: rgba(255, 89, 44, 1);
