@import "../../styles/variables";

.section-new-workouts {
  border-bottom: 1px solid var(--grey-border);
  > .flex {
    flex-direction: column;
  }

  .new-features {
    .new-feature {
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      padding: 0 6.4rem;

      &:not(:last-child) {
        border-right: 1px solid var(--grey-border);
      }

      &-title {
        color: var(--text-primary) !important;
      }

      &-tagline {
        color: var(--text-secondary) !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-new-workouts {
    .new-features {
      flex-direction: column;
      .new-feature {
        padding: 6.4rem;
        &:not(:last-child) {
          border-bottom: 1px solid var(--grey-border);
          border-right: none;
        }
      }
    }
  }
}
