.section-lead-trainers {
  flex-direction: column;
  .section-heading {
    padding-bottom: 4.8rem;
    border-bottom: 1px solid var(--grey-border);
  }
  .lead-name {
    color: var(--text-primary);
    margin-bottom: 1rem;
  }
}
