@import "../../styles/variables";
.section-hero {
  gap: 2rem;
  margin-bottom: 4.6rem !important;

  &-left {
    flex: 1;
    .hero-title {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.6rem;
      color: var(--text-secondary);
      text-transform: uppercase;
      margin-bottom: 1.8rem;
    }

    .hero-tagline {
      width: 65%;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      color: var(--text-secondary);
      margin-top: 1.8rem;
    }

    .hero-actions {
      margin-top: 2.4rem;
      display: flex;
      gap: 2rem;
    }
  }
  &-right {
    flex: 1;
    img {
      width: 100%;
    }
  }
}

.arrow-down {
  display: inline-block;
  cursor: pointer;
  padding: 1rem;
  border: 3px solid $grey-border;
  border-radius: 50%;
  font-size: 1.8rem;
  color: var(--text-secondary);
  text-align: center;
  span {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media screen and (max-width: 768px) {
  .section-hero {
    flex-direction: column;
    gap: 2rem;
    &-right {
      img {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .section-hero {
    .hero-tagline {
      width: 100%;
    }
    .hero-actions {
      flex-direction: column;
    }
    &-right {
      img {
        width: 100%;
      }
    }
  }
}
